.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 13.8rem;
  min-width: 13.8rem;
  margin: 15rem 20rem;
  border: 3px solid rgb(171, 182, 178);
  background-color: rgb(171, 182, 178);
  border-radius: 5px;
}

#resultText {
  display: flex;
  justify-content: flex-end;
  width: 92%;
  align-items: center;
  margin-top: 1px;
  padding: 5px;
  height: 4rem;
  font-size: 30px;
  border: 3px solid rgb(209, 221, 221);
  background-color: rgb(233, 243, 243);
  border-radius: 5px;
  text-align: end;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 3px;
  font-size: 30px;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  border: 2px rgb(204, 192, 188);
  cursor: pointer;
  padding: 15px;
  line-height: 1.6rem;
  font-size: 20px;
}

.button:hover {
  background-color: rgb(197, 192, 184);
}

#equal {
  background-color: rgb(86, 86, 172);
  color: white;
  border-radius: 5px;
}
