.calculator {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 13.8rem;
  /* min-width: 243px; */
  margin: 20rem;
  border-radius: 10px;
}

.result {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  height: 4rem;
  font-size: 30px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  padding: 20px;
  font-size: 30px;
  border-radius: 10px;
  border-color: blue;
}

.button {
  display: flex;
  width: 25%;
  /* width: auto; */
  /* border: 0.7px; */
  cursor: pointer;
  padding: 15px;
  line-height: 2em;
  text-align: center;
}

.button:hover {
  background-color: rgb(197, 192, 184);
}

#equal {
  background-color: rgb(86, 86, 172);
  color: white;
}
